Repository awsdocs/amazon-eks-user-guide, changes with the owners that CODEOWNERS names for each.
All owners: @eks-admins, fincd@amazon.com, @eks-contributors, gcline@amazon.com, pgasca@amazon.com, mcngs@amazon.com

CODEOWNERS:

# default rule, unless a more specific rule applies
* @eks-admins

# lower approval for specific non-content folders
/.vscode/ fincd@amazon.com

# default rule for user guide
/latest/ug/ @eks-contributors

# guide section assignments
/latest/ug/clusters/ gcline@amazon.com
/latest/ug/manage-access/ gcline@amazon.com
/latest/ug/workloads/ gcline@amazon.com
/latest/ug/networking/ fincd@amazon.com
/latest/ug/storage/ pgasca@amazon.com
/latest/ug/nodes/ pgasca@amazon.com
/latest/ug/connector/ fincd@amazon.com
/latest/ug/contribute/ gcline@amazon.com
/latest/ug/getting-started/ mcngs@amazon.com
/latest/ug/integrations/ gcline@amazon.com
/latest/ug/observability/ pgasca@amazon.com
/latest/ug/outposts/ fincd@amazon.com
/latest/ug/security/ fincd@amazon.com
/latest/ug/what-is/ mcngs@amazon.com

# use default rule 
# /latest/ug/troubleshooting/
# /latest/ug/images/
# /latest/ug/images_BJS/
# /latest/ug/YAML
# /latest/ug/iam_policies/
# /latest/ug/diagrams/

Corrected number of columns.
  latest/ug/nodes/node-health.adoc
Owners: pgasca@amazon.com

Minor rewrite.
  latest/ug/nodes/managed-node-groups.adoc
Owners: pgasca@amazon.com

Made more improvements for node health information.
  latest/ug/automode/auto-troubleshoot.adoc
  latest/ug/nodes/auto-get-logs.adoc
  latest/ug/nodes/node-health.adoc
Owners: @eks-contributors, pgasca@amazon.com

Added new Run Windows GPU AMIs section
  latest/ug/ml/ml-eks-optimized-ami.adoc
  latest/ug/ml/ml-eks-windows-optimized-ami.adoc
  latest/ug/ml/ml-prepare-for-cluster.adoc
  latest/ug/nodes/eks-optimized-windows-ami.adoc
Owners: @eks-contributors, pgasca@amazon.com

Refreshed page.
  latest/ug/clusters/cluster-insights.adoc
Owners: gcline@amazon.com

reinstated github contribution banner
  latest/ug/book.adoc
Owners: @eks-contributors

remove draft content
  latest/ug/automode/_gdc_todo.adoc
  latest/ug/automode/cloudformation/compute_mock_slr.yaml
  latest/ug/automode/cloudformation/compute_node_role.yaml
  latest/ug/automode/cloudformation/networking_mock_slr.yaml
  latest/ug/automode/cloudformation/storage_mock_slr.yaml
  latest/ug/automode/cloudformation/subnets.yaml
  latest/ug/automode/cloudformation/tachyon_cluster_service_role.yaml
  latest/ug/automode/eksctl/karpenter-tachyon-cluster.yaml
  latest/ug/automode/eksctl/node-pool-class.yaml
  latest/ug/automode/extra
  latest/ug/automode/kubernetes-rbac/aws-ebs-csi-driver.yaml
  latest/ug/automode/kubernetes-rbac/aws-node-role.yaml
  latest/ug/automode/kubernetes-rbac/coredns-role.yaml
  latest/ug/automode/kubernetes-rbac/neuron-device-plugin-role.yaml
  latest/ug/automode/kubernetes-rbac/nma-role.yaml
  latest/ug/automode/kubernetes-rbac/node-diagnostics.yaml
  latest/ug/automode/kubernetes-rbac/node-impersonate.yaml
  latest/ug/automode/sample-apps/2048.yaml
  latest/ug/automode/sample-apps/deployment.yaml
  latest/ug/automode/sample-apps/inflate-stateful.yaml
  latest/ug/automode/sample-apps/inflate.yaml
  latest/ug/automode/sample-apps/karpenter-inflate.yaml
  latest/ug/automode/wip/ai-notes.adoc
Owners: @eks-contributors

fix v1.31 changelog link typo
  latest/ug/clusters/kubernetes-versions-standard.adoc
Owners: gcline@amazon.com

clarify and add links
  latest/ug/quickstart.adoc
Owners: @eks-contributors

Fix links in troubleshooting.adoc
  latest/ug/troubleshooting/troubleshooting.adoc
Owners: @eks-contributors

Fixed the fomatting of the broken links by changing from the <<>> format to long format link:
  latest/ug/troubleshooting/troubleshooting.adoc
Owners: @eks-contributors

Update auto-troubleshoot.adoc to include more troubleshooting info
  latest/ug/automode/auto-troubleshoot.adoc
Owners: @eks-contributors

Update troubleshooting.adoc
  latest/ug/troubleshooting/troubleshooting.adoc
Owners: @eks-contributors

Corrected self-managed KMS key instructions
  latest/ug/automode/create-storage-class.adoc
Owners: @eks-contributors

add missing step for vpa installation
  latest/ug/workloads/vertical-pod-autoscaler.adoc
Owners: gcline@amazon.com
