Repository awsdocs/amazon-eks-user-guide, changes with the owners that CODEOWNERS names for each.
All owners: @eks-admins, fincd@amazon.com, @eks-contributors, gcline@amazon.com, pgasca@amazon.com, mcngs@amazon.com

update mainline
  latest/ug/workloads/node-efa.adoc
Owners: gcline@amazon.com

add vale files
  .github/workflows/vale.yml
  .gitignore
  .vale.ini
  latest/shared/phrases-eks.ent
  vale/styles/EksDocs/AwsBrand.yml
  vale/styles/EksDocs/ExternalDomains.yml
  vale/styles/config/vocabularies/EksDocsVocab/accept.txt
Owners: @eks-admins

add vale files
  .github/workflows/vale.yml
  .gitignore
  .vale.ini
  vale/styles/EksDocs/AwsBrand.yml
  vale/styles/EksDocs/ExternalDomains.yml
  vale/styles/config/vocabularies/EksDocsVocab/accept.txt
Owners: @eks-admins

Added redirects.
  latest/ug/zonbook.redirects.xml
Owners: @eks-contributors

Added redirects.
  latest/ug/zonbook.redirects.xml
Owners: @eks-contributors

publish cn-ml-on-eks
  latest/ug/book.adoc
  latest/ug/integrations/deep-learning-containers.adoc
  latest/ug/integrations/eks-integrations.adoc
  latest/ug/ml/capacity-blocks.adoc
  latest/ug/ml/inferentia-support.adoc
  latest/ug/ml/machine-learning-on-eks.adoc
  latest/ug/ml/ml-eks-optimized-ami.adoc
  latest/ug/ml/ml-get-started.adoc
  latest/ug/ml/ml-prepare-for-cluster.adoc
  latest/ug/ml/ml-tutorials.adoc
  latest/ug/ml/node-efa.adoc
  latest/ug/ml/node-taints-managed-node-groups.adoc
  latest/ug/nodes/dl1.adoc
  latest/ug/nodes/eks-ami-build-scripts.adoc
  latest/ug/nodes/eks-optimized-ami.adoc
  latest/ug/nodes/managed-node-groups.adoc
  latest/ug/nodes/vt1.adoc
  latest/ug/nodes/worker.adoc
  latest/ug/workloads/eks-workloads.adoc
Owners: @eks-contributors, gcline@amazon.com, pgasca@amazon.com

publish cn-ml-on-eks
  latest/ug/book.adoc
  latest/ug/integrations/deep-learning-containers.adoc
  latest/ug/integrations/eks-integrations.adoc
  latest/ug/ml/capacity-blocks.adoc
  latest/ug/ml/inferentia-support.adoc
  latest/ug/ml/machine-learning-on-eks.adoc
  latest/ug/ml/ml-eks-optimized-ami.adoc
  latest/ug/ml/ml-get-started.adoc
  latest/ug/ml/ml-prepare-for-cluster.adoc
  latest/ug/ml/ml-tutorials.adoc
  latest/ug/ml/node-efa.adoc
  latest/ug/ml/node-taints-managed-node-groups.adoc
  latest/ug/nodes/dl1.adoc
  latest/ug/nodes/eks-ami-build-scripts.adoc
  latest/ug/nodes/eks-optimized-ami.adoc
  latest/ug/nodes/managed-node-groups.adoc
  latest/ug/nodes/vt1.adoc
  latest/ug/nodes/worker.adoc
  latest/ug/workloads/eks-workloads.adoc
Owners: @eks-contributors, gcline@amazon.com, pgasca@amazon.com

update compute policy
  latest/ug/doc-history.adoc
  latest/ug/security/iam-reference/security-iam-awsmanpol.adoc
Owners: @eks-contributors, fincd@amazon.com

remove shared dir
  latest/shared/phrases-eks.ent
Owners: @eks-admins

publish updatee AmazonEKSComputePolicy
  latest/ug/doc-history.adoc
  latest/ug/security/iam-reference/security-iam-awsmanpol.adoc
Owners: @eks-contributors, fincd@amazon.com

Added redirects for deleted vt1 and dl1 pages
  latest/ug/zonbook.redirects.xml
Owners: @eks-contributors

Corrected example version inconsistency: 44487
  latest/ug/attributes.txt
  latest/ug/workloads/eks-add-ons.adoc
Owners: @eks-contributors, gcline@amazon.com

Changed approaches for eksctl-min-version attribute that is less likely to cause rendering issues.
  latest/ug/attributes.txt
  latest/ug/clusters/create-cluster.adoc
  latest/ug/clusters/delete-cluster.adoc
  latest/ug/clusters/update-cluster.adoc
  latest/ug/manage-access/aws-access/service-accounts.adoc
  latest/ug/manage-access/k8s-access/auth-configmap.adoc
  latest/ug/manage-access/k8s-access/grant-k8s-access.adoc
  latest/ug/manage-access/view-kubernetes-resources.adoc
  latest/ug/ml/node-efa.adoc
  latest/ug/networking/eks-networking-add-ons.adoc
  latest/ug/nodes/create-managed-node-group.adoc
  latest/ug/nodes/fargate-getting-started.adoc
  latest/ug/nodes/launch-node-bottlerocket.adoc
  latest/ug/nodes/launch-node-ubuntu.adoc
  latest/ug/nodes/launch-windows-workers.adoc
  latest/ug/nodes/launch-workers.adoc
  latest/ug/nodes/migrate-stack.adoc
  latest/ug/outposts/eks-outposts-local-cluster-overview.adoc
  latest/ug/outposts/eks-outposts-self-managed-nodes.adoc
  latest/ug/storage/fsx-csi.adoc
  latest/ug/workloads/eks-add-ons.adoc
Owners: @eks-contributors, gcline@amazon.com, fincd@amazon.com, pgasca@amazon.com

Merged from priv/pg-metrics-phase1 into mainline.
  latest/ug/doc-history.adoc
  latest/ug/observability/prometheus.adoc
  latest/ug/observability/view-raw-metrics.adoc
Owners: @eks-contributors, pgasca@amazon.com

Added suggested language from EFS GitHub: 44503
  latest/ug/nodes/fargate-pod-configuration.adoc
  latest/ug/nodes/fargate.adoc
  latest/ug/storage/efs-csi.adoc
Owners: pgasca@amazon.com

Created more direct link in doc history and adjusted section level.
  latest/ug/doc-history.adoc
  latest/ug/observability/view-raw-metrics.adoc
Owners: @eks-contributors, pgasca@amazon.com

Fixedissue in codeblock that was being interpreted as italic formatting.
  latest/ug/observability/view-raw-metrics.adoc
Owners: pgasca@amazon.com

Updated ML docs per review
  latest/ug/ml/capacity-blocks-mng.adoc
  latest/ug/ml/capacity-blocks.adoc
  latest/ug/ml/inferentia-support.adoc
  latest/ug/ml/ml-get-started.adoc
  latest/ug/ml/ml-prepare-for-cluster.adoc
  latest/ug/ml/ml-tutorials.adoc
  latest/ug/ml/node-efa.adoc
  latest/ug/nodes/create-managed-node-group.adoc
  latest/ug/nodes/managed-node-groups.adoc
Owners: @eks-contributors, pgasca@amazon.com

Add November 2024 Amazon EKS optimized Windows AMI versions
  latest/ug/nodes/eks-ami-versions-windows.adoc
Owners: pgasca@amazon.com

Revert "Add November 2024 Amazon EKS optimized Windows AMI versions"
  latest/ug/nodes/eks-ami-versions-windows.adoc
Owners: pgasca@amazon.com

Globally cleanup table formatting for easier contributions.
  latest/ug/clusters/management/cost-monitoring-kubecost-bundles.adoc
  latest/ug/clusters/management/eks-using-tags.adoc
  latest/ug/manage-access/aws-access/service-accounts.adoc
  latest/ug/manage-access/k8s-access/grant-k8s-access.adoc
  latest/ug/networking/eks-networking-add-ons.adoc
  latest/ug/networking/sec-group-reqs.adoc
  latest/ug/nodes/eks-compute.adoc
  latest/ug/nodes/fargate-pod-configuration.adoc
  latest/ug/nodes/launch-templates.adoc
  latest/ug/nodes/monitoring-fargate-usage.adoc
  latest/ug/nodes/retrieve-ami-id.adoc
  latest/ug/nodes/worker.adoc
  latest/ug/outposts/eks-outposts-local-cluster-overview.adoc
  latest/ug/outposts/eks-outposts.adoc
  latest/ug/troubleshooting/troubleshooting.adoc
Owners: gcline@amazon.com, fincd@amazon.com, pgasca@amazon.com, @eks-contributors

CoreDNS release
  latest/ug/networking/eks-networking-add-ons.adoc
Owners: fincd@amazon.com

Fix VSCode snippet typo
  .vscode/asciidoc.code-snippets
Owners: fincd@amazon.com

Fix broken links
  latest/ug/getting-started/learn-eks.adoc
  latest/ug/nodes/dockershim-deprecation.adoc
  latest/ug/what-is/kubernetes-concepts.adoc
Owners: mcngs@amazon.com, pgasca@amazon.com

kube-proxy release
  latest/ug/networking/eks-networking-add-ons.adoc
Owners: fincd@amazon.com

Add November 2024 Amazon EKS optimized Windows AMI versions
  latest/ug/nodes/eks-ami-versions-windows.adoc
Owners: pgasca@amazon.com

Incorp review comments for add-on roles
  latest/ug/clusters/create-cluster.adoc
  latest/ug/workloads/eks-add-ons.adoc
Owners: gcline@amazon.com

Corrections to final EKS Pod Identities console feature
  latest/ug/workloads/eks-add-ons.adoc
Owners: gcline@amazon.com

Fixed broken link: 44551
  latest/ug/nodes/dockershim-deprecation.adoc
Owners: pgasca@amazon.com

Fix EKS Windows AMI Nov PT
  latest/ug/nodes/eks-ami-versions-windows.adoc
Owners: pgasca@amazon.com

Updated doc history for auto role creation
  latest/ug/clusters/create-cluster.adoc
  latest/ug/doc-history.adoc
Owners: gcline@amazon.com, @eks-contributors

Correct typo in cluster creation
  latest/ug/clusters/create-cluster.adoc
Owners: gcline@amazon.com

Merged from priv/pg-mng-local-zone into mainline.
  latest/ug/doc-history.adoc
  latest/ug/integrations/local-zones.adoc
  latest/ug/networking/network-reqs.adoc
  latest/ug/nodes/eks-compute.adoc
  latest/ug/nodes/managed-node-groups.adoc
Owners: @eks-contributors, gcline@amazon.com, fincd@amazon.com, pgasca@amazon.com

Fix to doc history for role creation
  latest/ug/doc-history.adoc
Owners: @eks-contributors

Merged from priv/pg-metrics into mainline.
  latest/ug/clusters/kubernetes-versions-extended.adoc
  latest/ug/doc-history.adoc
  latest/ug/nodes/eks-optimized-ami.adoc
  latest/ug/observability/cloudwatch.adoc
  latest/ug/observability/eks-observe.adoc
  latest/ug/observability/observability-dashboard.adoc
Owners: gcline@amazon.com, @eks-contributors, pgasca@amazon.com

revise SLR
  latest/ug/doc-history.adoc
  latest/ug/security/iam-reference/security-iam-awsmanpol.adoc
Owners: @eks-contributors, fincd@amazon.com

Add recommendation for enabling private dns names to private cluster setup
  latest/ug/clusters/private-clusters.adoc
Owners: gcline@amazon.com

Link fix.
  latest/ug/clusters/private-clusters.adoc
Owners: gcline@amazon.com

Added more specific anchor.
  latest/ug/clusters/private-clusters.adoc
Owners: gcline@amazon.com

add updates for amazoneksservicerolepolicy
  latest/ug/doc-history.adoc
  latest/ug/security/iam-reference/security-iam-awsmanpol.adoc
  latest/ug/security/iam-reference/security-iam.adoc
Owners: @eks-contributors, fincd@amazon.com

CODEOWNERS:

# default rule, unless a more specific rule applies
* @eks-admins

# lower approval for specific non-content folders
/.vscode/ fincd@amazon.com

# default rule for user guide
/latest/ug/ @eks-contributors

# guide section assignments
/latest/ug/clusters/ gcline@amazon.com
/latest/ug/manage-access/ gcline@amazon.com
/latest/ug/workloads/ gcline@amazon.com
/latest/ug/networking/ fincd@amazon.com
/latest/ug/storage/ pgasca@amazon.com
/latest/ug/nodes/ pgasca@amazon.com
/latest/ug/connector/ fincd@amazon.com
/latest/ug/contribute/ gcline@amazon.com
/latest/ug/getting-started/ mcngs@amazon.com
/latest/ug/integrations/ gcline@amazon.com
/latest/ug/observability/ pgasca@amazon.com
/latest/ug/outposts/ fincd@amazon.com
/latest/ug/security/ fincd@amazon.com
/latest/ug/what-is/ mcngs@amazon.com

# use default rule 
# /latest/ug/troubleshooting/
# /latest/ug/images/
# /latest/ug/images_BJS/
# /latest/ug/YAML
# /latest/ug/iam_policies/
# /latest/ug/diagrams/
