Repository awsdocs/amazon-eks-user-guide, changes with the owners that CODEOWNERS names for each.
All owners: @eks-admins, fincd@amazon.com, @eks-contributors, gcline@amazon.com, pgasca@amazon.com, mcngs@amazon.com

CODEOWNERS:

# default rule, unless a more specific rule applies
* @eks-admins

# lower approval for specific non-content folders
/.vscode/ fincd@amazon.com

# default rule for user guide
/latest/ug/ @eks-contributors

# guide section assignments
/latest/ug/clusters/ gcline@amazon.com
/latest/ug/manage-access/ gcline@amazon.com
/latest/ug/workloads/ gcline@amazon.com
/latest/ug/networking/ fincd@amazon.com
/latest/ug/storage/ pgasca@amazon.com
/latest/ug/nodes/ pgasca@amazon.com
/latest/ug/connector/ fincd@amazon.com
/latest/ug/contribute/ gcline@amazon.com
/latest/ug/getting-started/ mcngs@amazon.com
/latest/ug/integrations/ gcline@amazon.com
/latest/ug/observability/ pgasca@amazon.com
/latest/ug/outposts/ fincd@amazon.com
/latest/ug/security/ fincd@amazon.com
/latest/ug/what-is/ mcngs@amazon.com

# use default rule 
# /latest/ug/troubleshooting/
# /latest/ug/images/
# /latest/ug/images_BJS/
# /latest/ug/YAML
# /latest/ug/iam_policies/
# /latest/ug/diagrams/

Merged from gdc/node-repair-slr into mainline.
  latest/ug/doc-history.adoc
  latest/ug/security/iam-reference/security-iam-awsmanpol.adoc
  latest/ug/security/iam-reference/security-iam.adoc
Owners: @eks-contributors, fincd@amazon.com

Updated date.
  latest/ug/doc-history.adoc
  latest/ug/security/iam-reference/security-iam-awsmanpol.adoc
Owners: @eks-contributors, fincd@amazon.com

Update kubernetes binary versions
  latest/ug/getting-started/install-kubectl.adoc
Owners: mcngs@amazon.com

Include additional information on EKS Fargate Pod Evictions to reduce Cx Reachout
  latest/ug/nodes/fargate-pod-patching.adoc
Owners: pgasca@amazon.com

Migrate just adoc snippets from branch.
  .vscode/asciidoc.code-snippets
Owners: fincd@amazon.com

Corrected dropped codeblock content and addressed 3 tickets pointing out broken syntax throughout page.
  latest/ug/nodes/fargate-logging.adoc
Owners: pgasca@amazon.com

Merged from priv/pg-bottlerocket-fips into mainline.
  latest/ug/doc-history.adoc
  latest/ug/nodes/bottlerocket-compliance-support.adoc
  latest/ug/nodes/retrieve-ami-id-bottlerocket.adoc
  latest/ug/nodes/retrieve-ami-id.adoc
  latest/ug/nodes/retrieve-windows-ami-id.adoc
Owners: @eks-contributors, pgasca@amazon.com

Fix links in node group tagging change
  latest/ug/networking/network-reqs.adoc
Owners: fincd@amazon.com

Fixed single instance of content dropped from build. Others were tweaks.
  latest/ug/clusters/kubernetes-versions-extended.adoc
  latest/ug/manage-access/aws-access/service-accounts.adoc
  latest/ug/networking/eks-networking-add-ons.adoc
Owners: gcline@amazon.com, fincd@amazon.com

Release VPC CNI 1.19.0 and new kube-proxy
  .vscode/asciidoc.code-snippets
  latest/ug/attributes.txt
  latest/ug/networking/eks-networking-add-ons.adoc
Owners: fincd@amazon.com, @eks-contributors

Release 1.30 for Outposts local clusters
  latest/ug/doc-history.adoc
  latest/ug/outposts/eks-outposts-local-cluster-overview.adoc
  latest/ug/security/iam-reference/security-iam-awsmanpol.adoc
Owners: @eks-contributors, fincd@amazon.com

Solving rendering issues: 44641
  latest/ug/networking/eks-networking-add-ons.adoc
  latest/ug/workloads/network-load-balancing.adoc
  latest/ug/workloads/sample-deployment.adoc
Owners: fincd@amazon.com, gcline@amazon.com

Inline code formatting improvement.
  latest/ug/networking/eks-networking-add-ons.adoc
Owners: fincd@amazon.com

Remove exclusion of MNG from Local Zone instance: 44648
  latest/ug/nodes/create-managed-node-group.adoc
  latest/ug/nodes/launch-workers.adoc
  latest/ug/outposts/eks-outposts-self-managed-nodes.adoc
Owners: pgasca@amazon.com, fincd@amazon.com

Add platform versions for November
  latest/ug/clusters/platform-versions.adoc
  latest/ug/doc-history.adoc
Owners: gcline@amazon.com, @eks-contributors

Merged from pg-node-role-china into mainline.
  latest/ug/doc-history.adoc
  latest/ug/security/iam-reference/security-iam-awsmanpol.adoc
Owners: @eks-contributors, fincd@amazon.com

Merged from priv/pg-policy-mng-china into mainline.
  latest/ug/doc-history.adoc
  latest/ug/security/iam-reference/security-iam-awsmanpol.adoc
Owners: @eks-contributors, fincd@amazon.com

Update quickstart.adoc
  latest/ug/quickstart.adoc
Owners: @eks-contributors

update IAM role policy configuration for Mountpoint for Amazon S3 CSI driver
  latest/ug/storage/s3-csi.adoc
Owners: pgasca@amazon.com

Update IAM role policy configuration to use StringEquals for Mountpoint for Amazon S3 CSI driver PR #812
  latest/ug/storage/s3-csi.adoc
Owners: pgasca@amazon.com

Addressed inconsitencies in AMI documentation: 44667
  latest/ug/ml/capacity-blocks-mng.adoc
  latest/ug/ml/capacity-blocks.adoc
  latest/ug/ml/ml-eks-optimized-ami.adoc
  latest/ug/nodes/al2023.adoc
  latest/ug/nodes/create-managed-node-group.adoc
  latest/ug/nodes/eks-ami-build-scripts.adoc
  latest/ug/nodes/eks-linux-ami-versions.adoc
  latest/ug/nodes/eks-optimized-ami.adoc
  latest/ug/nodes/eks-optimized-windows-ami.adoc
  latest/ug/nodes/launch-windows-workers.adoc
  latest/ug/nodes/launch-workers.adoc
  latest/ug/nodes/update-managed-node-group.adoc
  latest/ug/nodes/update-workers.adoc
  latest/ug/outposts/eks-outposts-self-managed-nodes.adoc
Owners: @eks-contributors, pgasca@amazon.com, fincd@amazon.com

Switch custom xrefs to links in cluster-auth/manage-access
  latest/ug/manage-access/cluster-auth.adoc
  latest/ug/manage-access/k8s-access/grant-k8s-access.adoc
Owners: gcline@amazon.com

Add note about v1.metrics.eks.amazonaws.com: 44690
  latest/ug/observability/view-raw-metrics.adoc
Owners: pgasca@amazon.com

Corrected config map: 44695
  latest/ug/nodes/fargate-logging.adoc
Owners: pgasca@amazon.com

Reverted recommended AmazonEC2ContainerRegistryPullOnly to AmazonEC2ContainerRegistryReadOnly: 44709
  latest/ug/security/iam-reference/security-iam.adoc
Owners: fincd@amazon.com

Globally corrected single quotes.
  latest/ug/automode/auto-mng.adoc
  latest/ug/clusters/zone-shift.adoc
  latest/ug/ml/ml-tutorials.adoc
  latest/ug/nodes/hybrid-nodes-cluster-create.adoc
  latest/ug/nodes/hybrid-nodes-cni.adoc
  latest/ug/nodes/hybrid-nodes-networking.adoc
  latest/ug/nodes/hybrid-nodes-nodeadm.adoc
  latest/ug/nodes/hybrid-nodes-os.adoc
  latest/ug/nodes/hybrid-nodes-prereqs.adoc
  latest/ug/nodes/hybrid-nodes-proxy.adoc
  latest/ug/nodes/hybrid-nodes-remove.adoc
  latest/ug/nodes/hybrid-nodes-troubleshooting.adoc
  latest/ug/nodes/update-managed-node-group.adoc
  latest/ug/what-is/what-is-eks.adoc
  latest/ug/workloads/eks-add-ons.adoc
Owners: @eks-contributors, gcline@amazon.com, pgasca@amazon.com, mcngs@amazon.com

eksctl 0.197.0: https://github.com/eksctl-io/eksctl/releases/tag/v0.197.0
  latest/ug/attributes.txt
Owners: @eks-contributors

Corrected validation warnings.
  latest/ug/nodes/compute-table.adoc
  latest/ug/nodes/eks-compute.adoc
  latest/ug/nodes/fargate-table.adoc
  latest/ug/nodes/fargate.adoc
  latest/ug/nodes/smn-table.adoc
  latest/ug/nodes/worker.adoc
Owners: pgasca@amazon.com

Corrected asciidoctor errors.
  latest/ug/nodes/hybrid-nodes-nodeadm.adoc
  latest/ug/nodes/hybrid-nodes-os.adoc
Owners: pgasca@amazon.com

Corrected various Asciidoctor validation warnings and did some standardization edits.
  latest/ug/automode/adoc-windows.adoc
  latest/ug/automode/auto-elb-example.adoc
  latest/ug/automode/auto-glossary.adoc
  latest/ug/automode/auto-learn-iam.adoc
  latest/ug/automode/automode-get-started-cli.adoc
  latest/ug/automode/create-storage-class.adoc
  latest/ug/automode/wip/create-vpc-console.adoc
  latest/ug/automode/wip/eksctl-docs.adoc
  latest/ug/automode/wip/tag-subnets.adoc
  latest/ug/connector/troubleshooting-connector.adoc
  latest/ug/ml/machine-learning-on-eks.adoc
  latest/ug/ml/ml-get-started.adoc
  latest/ug/networking/eks-networking-add-ons.adoc
  latest/ug/nodes/hybrid-nodes-cni.adoc
  latest/ug/nodes/hybrid-nodes-creds.adoc
  latest/ug/nodes/hybrid-nodes-nodeadm.adoc
  latest/ug/security/iam-reference/index.adoc
  latest/ug/troubleshooting/troubleshooting.adoc
Owners: @eks-contributors, fincd@amazon.com, pgasca@amazon.com

fixes for auto mode
  latest/ug/automode/auto-configure-nlb.adoc
  latest/ug/automode/auto-disable.adoc
  latest/ug/automode/auto-learn-iam.adoc
  latest/ug/automode/auto-migrate-mng.adoc
  latest/ug/automode/automode-learn-instances.adoc
  latest/ug/automode/automode-workload.adoc
  latest/ug/automode/automode.adoc
  latest/ug/automode/create-node-class.adoc
  latest/ug/security/iam-reference/auto-cluster-iam-role.adoc
Owners: @eks-contributors, fincd@amazon.com

Update branding to NetApp Trident
  latest/ug/storage/fsx-ontap.adoc
  latest/ug/workloads/eks-add-ons.adoc
Owners: pgasca@amazon.com, gcline@amazon.com

Fix typo in naming update
  latest/ug/storage/fsx-ontap.adoc
Owners: pgasca@amazon.com

move to JDK17
  Config
  build.xml
Owners: @eks-admins

Revert "move to JDK17"
  Config
  build.xml
Owners: @eks-admins

Updated trust policy formatting to match what is currently used when creating thru the console.
  latest/ug/security/iam-reference/create-node-role.adoc
Owners: fincd@amazon.com

fixes for pod id and k8s versions
  latest/ug/automode/auto-learn-iam.adoc
  latest/ug/clusters/kubernetes-versions.adoc
  latest/ug/manage-access/aws-access/service-accounts.adoc
Owners: @eks-contributors, gcline@amazon.com

auto mode fixes
  latest/ug/automode/auto-configure-alb.adoc
  latest/ug/automode/auto-learn-iam.adoc
  latest/ug/automode/create-node-pool.adoc
Owners: @eks-contributors

fixup node class
  latest/ug/automode/create-node-class.adoc
Owners: @eks-contributors

Merged from priv/pg-node-auto-repair into mainline.
  latest/ug/attributes.txt
  latest/ug/automode/auto-troubleshoot.adoc
  latest/ug/automode/learn-status-conditions.adoc
  latest/ug/automode/status-conditions-nvidia.csv
  latest/ug/automode/status-conditions.csv
  latest/ug/doc-history.adoc
  latest/ug/ml/node-efa.adoc
  latest/ug/nodes/bottlerocket-compliance-support.adoc
  latest/ug/nodes/create-managed-node-group.adoc
  latest/ug/nodes/eks-compute.adoc
  latest/ug/nodes/hybrid-nodes.adoc
  latest/ug/nodes/learn-status-conditions.adoc
  latest/ug/nodes/managed-node-groups.adoc
  latest/ug/nodes/node-health.adoc
  latest/ug/observability/observability-dashboard.adoc
  latest/ug/workloads/eks-add-ons.adoc
Owners: @eks-contributors, pgasca@amazon.com, gcline@amazon.com
